
.cont div{
    width: 50%;
}

.d-flex h3{
    color: rgb(61, 65, 186);
}
img{
    width: 400px;
}
.links a{
    color: #000;
    font-size: 2.4vw;
    margin-left: 2.4vw;
}
.links a:hover i{
    color: #5a5959;
}
.crimson{
    color: crimson;
}







.cards{
    width: 18rem;
    border-radius: 16px;
}
img{
    transition: 0.1s;
}
.cards:hover img{
    transform: scale(1.1);
}
.cards:hover{
    box-shadow: 2px 2px 100px rgb(213, 213, 213);
}
.cards-image{
    height: 40%;
}




.about_card_img:hover .about_img{
    transform: scale(1.1);
}
p{
    text-align: justify;
}