*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
}
header{
    position:absolute;
    height: 9vh;
    width: 100%;
    z-index: 1;
}
video{
    width: 100%;
    height: 99vh;
    object-fit: fill;
    opacity: 0.1;
}
.nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.nav img{
    height: 7vh;
    width: 440px;
}

.web-links{
    width: 50%;
}
.list{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
}
.list>li:hover{
    opacity: 0.5;
    color: rgba(99, 99, 99, 0.558);
}
main{
    height: 100%;
    width: 100%;
}
#change{
    color: gray
}
#home_btn{
    color: gray;
}
.list a{
    color: #ffffff;
}










.home{
    height: 91vh;
    width: 100%;
    position:absolute;
    top: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: white;
}
.owner_img{
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
    margin: 0px 0px 0px 50px;
}
.info{
    margin: 0px 50px 0px 0px;
    padding-top: 150px;
    text-align: end;
    transform: scale(1);
    transition: 1s;
}
.info h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    transform: scale(1);
    transition: 1s;
}
.info h2{
    font-size: 30px;
    color: cyan;
    transform: scale(1);
    transition: 1.5s;
}
.info h3{
    font-size: 25px;
    transform: scale(1);
    transition: 2s;
}







.portfolio{
    height: 91vh;
    width: 100%;
    position:absolute;
    top: 9vh;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    height: 510px;
    width: 330px;
    background: #ffffff1c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    transform:scale(0) ;
    animation-name: none;
    transition: 0.1s ease-in;
    opacity: 0;
    animation-duration: 1s;
}
@keyframes cardanimation {
    0%{
        transform: scale(0);
    }
    90%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.9);
    }
}
.card img{
    height: 230px;
    width: 280px;
    border-radius: 28px;
    padding: 20px 20px 0px 20px;
}

.card h1{
    color: #fff;
    padding: 0px 20px;
    text-align: center;
    font-weight: 300;
    font-family:'Times New Roman', Times, serif;
}
.card p{
    height: 105px;
    color: #fff;
    padding: 10px 20px;
    text-align:justify;
    overflow:hidden;
    font-size: 15px;
}
.card button{
    height: 40px;
    width: 40%;
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.258);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
.card button:hover{
    width: 150px;
}
.card:hover{
    box-shadow: 0px 0px 10px #ebe4e4;
}










.menu{
    display: none;
}
.menu_list{
    display: none;
}

@media (max-width:480px) {
    header{
        width: 480px;
    }
    .web-links{
        display: none;
    }
    .menu{
        font-size: 25px;
        display: block;
        color: #fff;
    }
    .menu_list{
        display: flex;
        justify-content: end;
        display: none;
    }
    .menu_list>ul{
        width: 30%;
        position: absolute;
        background-color:#1d1c1ccb;
        top: 9vh;
    }
    .menu_list>ul>li{
        list-style-type: none;
        padding: 20px 20px;
        font-size: 20px;
    }
    .menu_list,a{
        color: rgb(255, 255, 255);
    }
}
